.popup__button-submit {
  margin: 48px 0 0;
  min-width: 358px;
  min-height: 50px;
  background: #000;
  color: #fff;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  border: none;
  padding: 0;
  cursor: pointer;
}

.popup__button-submit:hover {
  opacity: .8;
}

@media screen and (max-width: 530px) {
  .popup__button-submit {
    min-width: 238px;
    min-height: 46px;
    margin-top: 45px;
    font-size: 14px;
    line-height: 17px;
  }
}